.launch-header
    {
        width: 100%;
        height: 300px;
        display: flex;
        
    }

    .launch-text
        {
            width: 50%;
            height: 250px;
            background-color: green;
         }